
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-24k {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .auto-group-uhp2-qXz {
    flex-shrink: 0;
    width: 100%;
    height: 55.2rem;
    position: relative;

    .rectangle-hic {
      top: 11.7rem;
      object-fit: cover;
      vertical-align: top;
      width: 144rem;
      height: 43.5rem;
      position: absolute;
      left: 0;
    }
    .frame-1DW {
      height: 11.8rem;
      position: absolute;
      left: 0;
      top: 0;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 144rem;

      .frame-XxY {
        flex-shrink: 0;
        width: 100%;
        height: 4.7rem;
        background-color: #fbd7d0;

        .frame-HB2 {
          height: 100%;
          text-align: center;
          font-size: 1.7rem;
          font-weight: 400;
          color: #f1d3b9;
          align-items: center;
          justify-content: center;
          width: 100%;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          background-color: #b36050;
          line-height: 1.6000000449;
        }
      }
      .frame-7vk {
        box-shadow: 0 0 0.3rem #dddddd;
        background-color: #f6f4ec;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.5rem 0;
        width: 100%;
        height: 7.1rem;

        .frame-Tji {
          padding: 0rem 12.1rem 0rem 17.2rem;
          width: 100%;
          height: 100%;
          background-color: #f6f4ec;
          box-sizing: border-box;

          .frame-nGC {
            width: 100%;
            height: 5.6rem;
            display: flex;
            align-items: center;

            .frame-6AQ {
              align-items: center;
              flex-shrink: 0;
              margin: 1.6rem 14.3rem 1.1rem 0rem;
              height: calc(100% - 2.7rem);
              display: flex;

              .shop-DF2 {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.5999999576;
                text-transform: capitalize;
                font-family: Roboto, 'Source Sans Pro';
                flex-shrink: 0;
                margin-right: 2.9rem;
                color: #b4604d;
                white-space: nowrap;
              }
              .the-edit-Wjv {
                text-transform: capitalize;
                white-space: nowrap;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.5999999576;
                color: #b4604d;
                font-family: Roboto, 'Source Sans Pro';
                flex-shrink: 0;
                margin-right: 3.5rem;
              }
              .our-story-e5S {
                font-weight: 400;
                line-height: 1.5999999576;
                text-transform: capitalize;
                flex-shrink: 0;
                white-space: nowrap;
                margin-right: 3.3rem;
                font-size: 1.8rem;
                color: #b4604d;
                font-family: Roboto, 'Source Sans Pro';
              }
              .reviews-AJg {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.5999999576;
                text-transform: capitalize;
                color: #b4604d;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .rectangle-Vbr {
              width: 12rem;
              height: 5.6rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 40.2269rem;
            }
            .frame-25z {
              margin: 1.9rem 0rem 1.4rem 0rem;
              height: calc(100% - 3.3rem);
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;

              .account-kGt {
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.5999999728;
                color: #b45f4d;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 5.1731rem;
              }
              .frame-fek {
                box-sizing: border-box;
                padding: 0.044rem 0rem 0.055rem 0.025rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-bottom: 0.1rem;

                .frame-C8t {
                  width: 1.9491rem;
                  height: 2.101rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 0.426rem;
                }
                .item-0-LVz {
                  font-weight: 400;
                  line-height: 1.1725;
                  color: #b4604d;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-top: 0.011rem;
                  font-size: 1.5rem;
                }
              }
            }
          }
        }
      }
    }
  }
  .frame-bwi {
    display: flex;
    flex-direction: column;
    background-color: #a9ae8d;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 6.9rem 49.9rem 5.1rem 49.2rem;
    width: 100%;
    align-items: center;

    .ready-to-get-drenched-XaU {
      margin: 0rem 0.9rem 1.5rem 0rem;
      color: #f6f4ec;
      flex-shrink: 0;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.5999999576;
      text-transform: uppercase;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
    }
    .meet-monsoon-moisture-mask-1kY {
      margin-bottom: 2.8rem;
      font-size: 3.3rem;
      font-weight: 400;
      line-height: 1.9393939394;
      color: #f6f4ec;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .frame-Lnp {
      line-height: 1.6941176022;
      display: flex;
      justify-content: center;
      height: 4.8rem;
      font-family: Roboto, 'Source Sans Pro';
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 15.7rem 0rem 16.4rem;
      font-weight: 400;
      color: #ffffff;
      width: calc(100% - 32.1rem);
      font-size: 1.7rem;
      white-space: nowrap;
      background-color: #b45f4d;
    }
  }
  .frame-CKE {
    padding: 3.9rem 5.613rem 4.5rem 12.266rem;
    width: 100%;
    height: 83.5rem;
    background-color: #f6f4ec;
    flex-shrink: 0;
    margin-bottom: 3.4rem;
    box-sizing: border-box;

    .frame-vW8 {
      width: 100%;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .pick-a-pretty-bottle-GK6 {
        margin: 0rem 6.553rem 5.7rem 0rem;
        text-align: center;
        color: #b45f4d;
        white-space: nowrap;
        font-size: 2.3rem;
        font-weight: 400;
        line-height: 1.7043478593;
        text-transform: capitalize;
        font-family: Roboto, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .frame-xBv {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-i4xw-usr {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 0rem 3.5rem 0.257rem;
          width: calc(100% - 0.2565rem);
          height: 61rem;

          .frame-DtY {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .image-2-z8c {
              margin: 0rem 0rem 3.5rem 0.022rem;
              width: 34rem;
              height: 51rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .the-daedreamer-set-iaQ {
              margin: 0rem 0rem 2.3rem 0.1rem;
              line-height: 1.4000000424;
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 400;
              text-transform: uppercase;
              color: #b45f4d;
              font-family: Roboto, 'Source Sans Pro';
            }
            .item-4900-ptL {
              color: #b45f4d;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1;
            }
          }
          .auto-group-inyj-Lrg {
            padding: 0.7rem 0rem 0.016rem 7.255rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            box-sizing: border-box;

            .frame-g9r {
              margin: 0rem 9.4rem 1.1rem 0rem;
              box-sizing: border-box;
              padding-left: 0.0007rem;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .rectangle-Qbe {
                margin-bottom: 1.9844rem;
                width: 34rem;
                height: 51rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
              }
              .frame-M16 {
                width: 12.6rem;
                flex-shrink: 0;

                .shampoo-Weg {
                  font-weight: 400;
                  line-height: 1.6800000509;
                  text-transform: uppercase;
                  color: #b45f4d;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-bottom: 2rem;
                  font-size: 1.5rem;
                }
                .to-6400-rTe {
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1;
                  color: #b45f4d;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  width: 100%;
                  text-align: center;
                }
              }
            }
            .frame-NRz {
              height: 100%;
              flex-shrink: 0;
              width: 41.1867rem;

              .rectangle-K6L {
                width: 34rem;
                height: 51rem;
                object-fit: cover;
                vertical-align: top;
                margin-bottom: 3.2844rem;
              }
              .frame-Ej6 {
                width: 12.6rem;

                .conditioner-bZe {
                  font-size: 1.8rem;
                  font-weight: 400;
                  line-height: 1.4000000424;
                  text-transform: uppercase;
                  color: #b45f4d;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-bottom: 1.8rem;
                }
                .to-6400-8Za {
                  text-align: center;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1;
                  color: #b45f4d;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  width: 100%;
                }
              }
            }
          }
        }
        .frame-3gY {
          margin-right: 6.6016rem;
          width: calc(100% - 6.6016rem);
          height: 0.9rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .frame-agU {
            margin-right: 106.3193rem;
            width: 6.6rem;
            height: 100%;
            position: relative;
            flex-shrink: 0;

            .rectangle-Ktx {
              width: 6.1491rem;
              height: 0.9rem;
              position: absolute;
              left: 0.2rem;
              top: 0;
              border-radius: 0.3rem;
            }
            .rectangle-45r {
              width: 6.6rem;
              height: 0.9rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
            }
          }
          .frame-zVJ {
            flex-shrink: 0;
            width: 6.6rem;
            height: 100%;
            position: relative;

            .rectangle-Mak {
              width: 6.1491rem;
              height: 0.9rem;
              position: absolute;
              left: 0.2rem;
              top: 0;
              border-radius: 0.3rem;
            }
            .rectangle-JF6 {
              object-fit: cover;
              vertical-align: top;
              width: 6.6rem;
              height: 0.9rem;
              position: absolute;
              left: 0;
              top: 0;
            }
          }
        }
      }
    }
  }
  .frame-D7A {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;

    .auto-group-w3uv-wYx {
      background-repeat: no-repeat;
      margin: 0rem 13rem 4.645rem 11rem;
      padding: 27.1rem 0rem 4.455rem 0rem;
      height: 40.7547rem;
      background-size: 100% 100%;
      background-position: center;
      background-image: url('REPLACE_IMAGE:ce6067240f72e990112edab7f2d31fffa861e81a');
      flex-shrink: 0;
      box-sizing: border-box;
      width: calc(100% - 24rem);

      .frame-qeL {
        box-sizing: border-box;
        padding: 3rem 3.015rem 3rem 2.951rem;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: #df9b7a;

        .feel-the-warmth-of-the-desert-wherever-you-are-NeG {
          font-size: 2rem;
          font-weight: 400;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 53.4344rem;
          line-height: 1.6;
          text-transform: uppercase;
          color: #f6f4ec;
        }
        .shop-sets-t6p {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.5999999576;
          color: #f6f4ec;
        }
      }
    }
    .frame-1Kr {
      margin-bottom: 5.4844rem;
      box-sizing: border-box;
      padding: 9.6rem 12rem 6.7rem 11.6rem;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: #f1d3b9;
      flex-shrink: 0;

      .z3a49211200x-1-Y4t {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.1rem 20.4rem 0rem 0rem;
        width: 50rem;
        height: 75rem;
      }
      .frame-Fjz {
        box-sizing: border-box;
        padding: 13.4rem 4.1rem;
        width: 50rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: #f8f8f8;
        flex-shrink: 0;
        margin-bottom: 0.1rem;

        .meet-dae-yR6 {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.2rem 2.2rem 0rem;
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.9199999491;
          color: #b45f4d;
          font-family: Roboto, 'Source Sans Pro';
        }
        .were-a-haircare-line-based-in-sunny-arizona-our-products-are-made-up-of-the-many-things-that-make-our-home-special-including-the-scent-of-orange-blossoms-in-the-air-colors-of-majestic-sunsets-and-nourishing-ingredients-derived-from-desert-botanicals-we-believe-haircare-doesnt-have-to-be-complicated-and-aimed-to-make-a-line-that-is-simple-and-effective-we-hope-that-dae-plays-a-special-role-in-your-everyday-hair-routine-from-sunrise-to-sunset-and-allows-you-to-feel-the-warmth-of-the-desert-wherever-you-are-Hwa {
          margin: 0rem 0rem 4.1rem 0.1rem;
          max-width: 41.7rem;
          font-size: 1.9rem;
          font-weight: 400;
          line-height: 1.5999999799;
          color: #b45f4d;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .read-more-YW8 {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 34.1rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.6000000238;
          color: #b45f4d;
        }
      }
    }
    .frame-TNC {
      flex-shrink: 0;
      margin: 0rem 12.417rem 0.916rem 12.417rem;
      width: calc(100% - 24.8333rem);
      align-items: center;
      display: flex;
      flex-direction: column;

      .follow-us-daehair-axc {
        flex-shrink: 0;
        font-family: Roboto, 'Source Sans Pro';
        margin: 0rem 0rem 4.8rem 0rem;
        text-align: center;
        font-size: 2.3rem;
        font-weight: 400;
        line-height: 1.7043478593;
        text-transform: capitalize;
        color: #000000;
        white-space: nowrap;
      }
      .frame-JNp {
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 16.1rem;
        display: flex;

        .frame-3bJ {
          margin-right: 0.8333rem;
          width: 19.1667rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .rectangle-PfA {
            width: 19.1667rem;
            height: 13rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
          }
          .frame-jj2 {
            display: flex;
            flex-direction: column;
            width: 5.2rem;
            height: 8.7rem;
            position: absolute;
            left: 6.9534rem;
            top: 7.4rem;
            align-items: center;

            .rectangle-4WQ {
              height: 4.6rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 5rem;
              flex-shrink: 0;
              margin: 0rem 0rem 1.1rem 0.1rem;
              width: 4.6rem;
            }
            .daehair-ydN {
              text-align: center;
              font-size: 1.5rem;
              letter-spacing: 0.03rem;
              color: #ffffff;
              white-space: nowrap;
              font-weight: 400;
              line-height: 2;
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
        }
        .frame-tkL {
          flex-shrink: 0;
          margin-right: 0.8333rem;
          width: 19.1667rem;
          height: 100%;
          position: relative;

          .rectangle-eUc {
            width: 19.1667rem;
            height: 13rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
          }
          .frame-zYU {
            left: 6.9536rem;
            top: 7.4rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 5.2rem;
            height: 8.7rem;
            position: absolute;

            .rectangle-8Pn {
              margin: 0rem 0rem 1.1rem 0.1rem;
              width: 4.6rem;
              height: 4.6rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 5rem;
              flex-shrink: 0;
            }
            .daehair-TS4 {
              text-align: center;
              font-weight: 400;
              letter-spacing: 0.03rem;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.5rem;
              line-height: 2;
              color: #ffffff;
            }
          }
        }
        .frame-Pac {
          margin-right: 0.8333rem;
          width: 19.1667rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .rectangle-9Zn {
            width: 19.1667rem;
            height: 13rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
          }
          .frame-W9S {
            height: 8.7rem;
            position: absolute;
            left: 6.9539rem;
            top: 7.4rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 5.2rem;

            .rectangle-3QG {
              object-fit: cover;
              vertical-align: top;
              border-radius: 5rem;
              flex-shrink: 0;
              margin: 0rem 0rem 1.1rem 0.1rem;
              width: 4.6rem;
              height: 4.6rem;
            }
            .daehair-mbA {
              text-align: center;
              font-weight: 400;
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
              font-size: 1.5rem;
              line-height: 2;
              letter-spacing: 0.03rem;
              color: #ffffff;
              white-space: nowrap;
            }
          }
        }
        .frame-hDv {
          margin-right: 0.8333rem;
          width: 19.1667rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .rectangle-qqv {
            vertical-align: top;
            width: 19.1667rem;
            height: 13rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
          }
          .frame-xvY {
            left: 6.9542rem;
            top: 7.4rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 5.2rem;
            height: 8.7rem;
            position: absolute;

            .rectangle-6G4 {
              flex-shrink: 0;
              margin: 0rem 0rem 1.1rem 0.1rem;
              width: 4.6rem;
              height: 4.6rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 5rem;
            }
            .daehair-188 {
              font-size: 1.5rem;
              font-weight: 400;
              text-align: center;
              line-height: 2;
              letter-spacing: 0.03rem;
              color: #ffffff;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .frame-vF6 {
          width: 19.1667rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;
          margin-right: 0.8333rem;

          .rectangle-UGc {
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 19.1667rem;
            height: 13rem;
            position: absolute;
          }
          .frame-c7v {
            height: 8.7rem;
            position: absolute;
            left: 6.9544rem;
            top: 7.4rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 5.2rem;

            .rectangle-wfz {
              object-fit: cover;
              vertical-align: top;
              border-radius: 5rem;
              flex-shrink: 0;
              margin: 0rem 0rem 1.1rem 0.1rem;
              width: 4.6rem;
              height: 4.6rem;
            }
            .daehair-4Vi {
              font-family: Roboto, 'Source Sans Pro';
              text-align: center;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 2;
              letter-spacing: 0.03rem;
              color: #ffffff;
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .frame-ayr {
          width: 19.1667rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .rectangle-k7e {
            width: 19.1667rem;
            height: 13rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
          }
          .frame-59v {
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 5.2rem;
            height: 8.7rem;
            position: absolute;
            left: 6.9547rem;
            top: 7.4rem;

            .rectangle-CEY {
              margin: 0rem 0rem 1.1rem 0.1rem;
              width: 4.6rem;
              height: 4.6rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 5rem;
              flex-shrink: 0;
            }
            .daehair-Hmn {
              flex-shrink: 0;
              text-align: center;
              font-size: 1.5rem;
              color: #ffffff;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              font-weight: 400;
              line-height: 2;
              letter-spacing: 0.03rem;
            }
          }
        }
      }
    }
    .frame-Ppp {
      width: 100%;
      height: 30rem;
      background-color: #f6f4ec;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 5.725rem 0rem 2rem 0rem;

      .frame-So6 {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;

        .frame-nc4 {
          margin: 0rem 12.4rem 3.075rem 12rem;
          width: calc(100% - 24.4rem);
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .frame-6se {
            align-items: center;
            flex-shrink: 0;
            margin-right: 41rem;
            height: 11.6rem;
            display: flex;

            .frame-FVe {
              margin-right: 13rem;
              height: 100%;
              row-gap: 1.2rem;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .sustainability-bJc {
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.4000000272;
                color: #b45f4d;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .contact-us-vLt {
                color: #b45f4d;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.4000000272;
              }
              .faq-G9r {
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.4000000272;
                color: #b45f4d;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .careers-ovU {
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.4000000272;
                color: #b45f4d;
              }
            }
            .frame-vkC {
              flex-shrink: 0;
              height: 100%;
              row-gap: 1.2rem;
              display: flex;
              flex-direction: column;

              .privacy-policy-gDa {
                font-weight: 400;
                line-height: 1.4000000272;
                color: #b45f4d;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
              }
              .ca-privacy-rights-1Wk {
                color: #b45f4d;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.4000000272;
              }
              .terms-of-use-9sr {
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.4000000272;
                color: #b45f4d;
              }
              .newsletter-JVr {
                flex-shrink: 0;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.507692337;
                color: #b45f4d;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .frame-FAC {
            width: 46.2rem;
            flex-shrink: 0;
            margin-top: 0.475rem;

            .only-good-hair-daes-aheadand-10-off-your-first-order-ztU {
              line-height: 1.5999999728;
              color: #c17c6c;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 1.2rem;
              font-size: 1.4rem;
              font-weight: 400;
            }
            .frame-6wW {
              height: 4.4rem;
              overflow: hidden;
              position: relative;
              border: solid 0.2rem #b5614d;
              margin-bottom: 2.025rem;
              box-sizing: border-box;
              padding: 0.2rem 0.185rem 0.2rem 0.185rem;
              width: 100%;

              .frame-pMi {
                align-items: center;
                box-sizing: border-box;
                padding-right: 0rem;
                width: 100%;
                height: 100%;
                display: flex;

                .rectangle-mnk {
                  height: 4rem;
                  border-radius: 0.2rem;
                  flex-shrink: 0;
                  margin-right: 0.5544rem;
                  width: 36.498rem;
                }
                .frame-KJU {
                  margin: 0.8rem 0rem 0.4rem 0rem;
                  width: 8.778rem;
                  height: calc(100% - 1.2rem);
                  position: relative;
                  flex-shrink: 0;

                  .rectangle-da4 {
                    width: 8.778rem;
                    height: 2.2rem;
                    position: absolute;
                    left: 0;
                    top: 0;
                    border-radius: 0.2rem;
                  }
                  .subscribe-ydv {
                    height: 1.7rem;
                    top: 1.1rem;
                    font-size: 1.3rem;
                    font-weight: 400;
                    line-height: 1.3;
                    text-transform: uppercase;
                    width: 6.8rem;
                    position: absolute;
                    left: 0.95rem;
                    text-align: center;
                    color: #b45f4d;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                }
              }
            }
            .frame-SXW {
              position: relative;
              width: 37.3rem;
              height: 4.5rem;

              .want-to-shop-in-person-swing-by-our-showroom-o7A {
                height: 2.3rem;
                position: absolute;
                left: 0;
                font-weight: 400;
                color: #c17c6c;
                white-space: nowrap;
                width: 30.7rem;
                top: 0;
                font-size: 1.4rem;
                line-height: 1.5999999728;
                font-family: Roboto, 'Source Sans Pro';
              }
              .m-f-10am-2pm-5051-e-indigo-st-suite-105-mesa-az-85205-VEt {
                width: 37.3rem;
                position: absolute;
                left: 0;
                font-size: 1.4rem;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                height: 2.3rem;
                top: 2.2rem;
                font-weight: 400;
                line-height: 1.5999999728;
                color: #c17c6c;
              }
            }
          }
        }
        .rectangle-ZkY {
          margin-bottom: 1.8rem;
          width: 100%;
          height: 0.2rem;
          background-color: #f1d3b9;
          flex-shrink: 0;
        }
        .dae-all-rights-reserved-i7e {
          color: #c17c6c;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.4rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5999999728;
        }
      }
    }
  }
}
