
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 136.6rem;
}.first-step-o4G {
  width: 100%;
  height: 104rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .rectangle-57-iS8 {
    width: 136.6rem;
    height: 104rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f4f7f9;
  }
  .all-rights-reserved-lorem-technologies-inc-2xc {
    height: 2.2rem;
    top: 99.3rem;
    font-weight: 400;
    font-family: ?????, 'Source Sans Pro';
    font-size: 1.4rem;
    line-height: 1.5714285714;
    color: rgba(0, 0, 0, 0.6499999762);
    white-space: nowrap;
    width: 30.4rem;
    position: absolute;
    left: 53.15rem;
    text-align: center;
  }
  .form-tzp {
    background-color: #ffffff;
    position: absolute;
    top: 8rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.4rem 5.6rem rgba(0, 0, 0, 0.0399999991), 0 1.2rem 1.6rem rgba(0, 0, 0, 0.0399999991);
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 4rem;
    width: 49.6rem;
    height: 84.9rem;
    left: 43.5rem;

    .logo-nqJ {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 15.747rem 2.4rem 15.7rem;
      width: calc(100% - 31.4473rem);

      .exclusion-1-7cg {
        height: 4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.4884rem;
        width: 3.9063rem;
      }
      .path-5-FTz {
        margin-top: 0.0441rem;
        width: 5.7581rem;
        height: 1.6441rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .register-yun {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 8.4rem 16rem 6.2rem;
      width: calc(100% - 14.6rem);
      align-items: flex-end;

      .welcome-to-bytrend-6zQ {
        line-height: 1.2575;
        color: rgba(0, 0, 0, 0.8500000238);
        font-family: Segoe UI, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.8rem;
        font-size: 2.9rem;
        font-weight: 700;
      }
      .auto-group-v9ve-Rmn {
        height: 2.6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 0.8rem 0rem 2.9rem;
        width: calc(100% - 3.7rem);

        .lets-sign-up-first-9hn {
          margin-right: 2rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.625;
          color: #444150;
          font-family: ?????, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .auto-group-jjds-UVA {
          width: 4.4rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .rectangle-58-DxY {
            background-color: #01bab3;
            width: 4.3rem;
            height: 0.1rem;
            position: absolute;
            left: 0.1rem;
            top: 2.3rem;
          }
          .log-in-kBn {
            width: 4.2rem;
            position: absolute;
            left: 0;
            top: 0;
            line-height: 1.625;
            color: #01bab3;
            font-family: Segoe UI, 'Source Sans Pro';
            height: 2.6rem;
            font-size: 1.6rem;
            font-weight: 600;
            white-space: nowrap;
          }
        }
      }
    }
    .input-fJk {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 2.4rem;
      width: 100%;

      .birth-date-RHv {
        margin-bottom: 0.8rem;
        font-size: 1.6rem;
        line-height: 1.5;
        color: rgba(0, 0, 0, 0.8500000238);
        font-family: Segoe UI, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        flex-shrink: 0;
        font-weight: 600;
        align-items: baseline;

        .birth-date-RHv-sub-0 {
          font-weight: 600;
          line-height: 1.5;
          color: #444150;
          font-family: Segoe UI, 'Source Sans Pro';
          font-size: 1.6rem;
        }
        .birth-date-RHv-sub-1 {
          color: #01bab3;
          font-family: Segoe UI, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
        }
      }
      .auto-group-8qw8-FgG {
        box-sizing: border-box;
        width: 100%;
        align-items: center;
        border: solid 0.1rem #d9d9d9;
        background-color: #ffffff;
        flex-shrink: 0;
        padding: 1rem 1.5rem 1.4rem 1.6rem;
        display: flex;
        border-radius: 0.6rem;

        .item-06121992-z84 {
          font-weight: 400;
          line-height: 1.5;
          color: #444150;
          font-family: ?????, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 29.5rem;
          font-size: 1.6rem;
        }
        .dates-date-16-24px-KRE {
          flex-shrink: 0;
          margin-top: 0.4rem;
          opacity: 0.8;
          width: 1.8rem;
          height: 2rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .input-cQL {
      flex-shrink: 0;
      margin-bottom: 2.4rem;
      width: 100%;
      display: flex;
      flex-direction: column;

      .gender-AAx {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.5;
        align-items: baseline;
        flex-shrink: 0;
        margin-bottom: 0.8rem;
        color: rgba(0, 0, 0, 0.8500000238);
        font-family: Segoe UI, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;

        .gender-AAx-sub-0 {
          font-weight: 600;
          line-height: 1.5;
          color: #444150;
          font-family: Segoe UI, 'Source Sans Pro';
          font-size: 1.6rem;
        }
        .gender-AAx-sub-1 {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #01bab3;
          font-family: Segoe UI, 'Source Sans Pro';
        }
      }
      .auto-group-nk7j-fG8 {
        flex-shrink: 0;
        width: 100%;
        height: 4.8rem;
        display: flex;
        align-items: center;

        .female-odE {
          margin-right: 1.6rem;
          height: 100%;
          display: flex;
          border: solid 0.2rem #01bab3;
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1rem 9.7rem 1.4rem 1.6rem;
          align-items: center;
          border-radius: 0.4rem;

          .auto-group-7r7e-Xp8 {
            margin: 0.4rem 1.6rem 0rem 0rem;
            width: 2rem;
            height: 2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .female-GFv {
            color: #444150;
            font-family: Segoe UI, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
          }
        }
        .female-yw2 {
          flex-shrink: 0;
          box-sizing: border-box;
          height: 100%;
          display: flex;
          align-items: center;
          border: solid 0.1rem #d9d9d9;
          background-color: #ffffff;
          padding: 1rem 11.5rem 1.4rem 1.6rem;
          border-radius: 0.4rem;

          .auto-group-wznl-7GY {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.4rem 1.6rem 0rem 0rem;
            width: 2rem;
            height: 2rem;
            object-fit: contain;
          }
          .male-qiL {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
            color: #444150;
            font-family: Segoe UI, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
    .input-kaQ {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 2.4rem;

      .skype-7Qx {
        color: #444150;
        font-family: Segoe UI, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.8rem;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.5;
      }
      .auto-group-5mgx-rNY {
        background-color: #ffffff;
        padding: 1rem 1.6rem 1.4rem 1.6rem;
        width: 100%;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        font-family: ?????, 'Source Sans Pro';
        white-space: nowrap;
        border-radius: 0.6rem;
        flex-shrink: 0;
        box-sizing: border-box;
        color: #444150;
        border: solid 0.1rem #d9d9d9;
      }
    }
    .input-jBS {
      flex-shrink: 0;
      margin-bottom: 2.4rem;
      width: 100%;
      display: flex;
      flex-direction: column;

      .promo-VRW {
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.8rem;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.5;
        color: #444150;
        font-family: Segoe UI, 'Source Sans Pro';
      }
      .auto-group-yhrw-dXi {
        box-sizing: border-box;
        white-space: nowrap;
        border-radius: 0.6rem;
        flex-shrink: 0;
        border: solid 0.1rem #d9d9d9;
        padding: 1rem 1.6rem 1.4rem 1.6rem;
        width: 100%;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #444150;
        font-family: ?????, 'Source Sans Pro';
        background-color: #ffffff;
      }
    }
    .btn-XNC {
      display: flex;
      align-items: center;
      background-color: #01bab3;
      border-radius: 0.4rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.2rem 15.2rem 1.3rem 15.3rem;
      width: 100%;

      .continue-sBA {
        text-align: center;
        color: #ffffff;
        font-family: Segoe UI, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 2rem;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.2575;
        white-space: nowrap;
      }
      .arrows-arrow-right-1-24px-QRz {
        margin-top: 0.1rem;
        width: 2rem;
        height: 1.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .item--UAx {
    background-position: center;
    width: 136.6rem;
    height: 5.6rem;
    left: 0;
    top: 0;
    flex-direction: column;
    background-repeat: no-repeat;
    position: absolute;
    align-items: center;
    display: flex;
    background-size: cover;
    background-image: url('REPLACE_IMAGE:I12:213;2:643');

    .auto-group-wuwe-Poi {
      width: 100%;
      height: 5.6rem;
      position: relative;
      flex-shrink: 0;

      .lang-wKS {
        top: 1.6rem;
        width: 5.5rem;
        height: 2.4rem;
        position: absolute;
        left: 121.3rem;

        .en-UKN {
          top: 0.2rem;
          line-height: 1.2575;
          white-space: nowrap;
          width: 1.7rem;
          height: 1.8rem;
          position: absolute;
          color: rgba(0, 0, 0, 0.6499999762);
          font-family: ?????, 'Source Sans Pro';
          left: 1.0223rem;
          font-size: 1.4rem;
          font-weight: 400;
        }
        .bg-Zbi {
          object-fit: contain;
          vertical-align: top;
          width: 5.5rem;
          height: 2.4rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .item--Hnc {
          width: 0.9rem;
          height: 1.7rem;
          top: 0.3rem;
          font-weight: 400;
          line-height: 1.1725;
          position: absolute;
          left: 3.8rem;
          font-size: 1.4rem;
          color: rgba(0, 0, 0, 0.25);
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .item--Lkt {
        color: rgba(0, 0, 0, 0.8500000238);
        box-sizing: border-box;
        padding-left: 1.5274rem;
        left: 69.7rem;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.2575;
        font-family: ?????, 'Source Sans Pro';
        white-space: nowrap;
        width: 6.4274rem;
        height: 3.7rem;
        position: absolute;
        top: 1.9rem;
      }
      .contacts-DZn {
        padding-left: 1.3094rem;
        position: absolute;
        left: 88.9rem;
        font-weight: 400;
        line-height: 1.2575;
        color: rgba(0, 0, 0, 0.8500000238);
        font-family: ?????, 'Source Sans Pro';
        box-sizing: border-box;
        width: 6.5094rem;
        height: 3.8rem;
        top: 1.8rem;
        font-size: 1.4rem;
        white-space: nowrap;
      }
      .about-7QG {
        top: 1.9rem;
        width: 5.9935rem;
        height: 3.7rem;
        position: absolute;
        left: 79.3rem;

        .about-e9J {
          color: rgba(0, 0, 0, 0.8500000238);
          font-family: ?????, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 1.9rem 2.093rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.2575;
        }
        .line-xvg {
          height: 0;
          object-fit: contain;
          vertical-align: top;
          width: 0.9rem;
        }
      }
      .component-21-1-vcc {
        height: 2.4rem;
        position: absolute;
        left: 106.7rem;
        top: 1.6rem;
        width: 12.2rem;

        .open-an-account-rFN {
          width: 9.9rem;
          top: 0.2rem;
          font-size: 1.4rem;
          color: rgba(0, 0, 0, 0.6499999762);
          font-family: ?????, 'Source Sans Pro';
          white-space: nowrap;
          height: 1.8rem;
          position: absolute;
          left: 0.8203rem;
          font-weight: 400;
          line-height: 1.2575;
        }
        .bg-9EU {
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 12.2rem;
          height: 2.4rem;
          position: absolute;
          left: 0;
        }
      }
      .bottom-HrU {
        width: 5.8rem;
        height: 2.4rem;
        position: absolute;
        left: 98.5rem;
        top: 1.6rem;

        .log-in-QRJ {
          left: 0.9907rem;
          font-size: 1.4rem;
          width: 3.6rem;
          height: 1.8rem;
          position: absolute;
          top: 0.2rem;
          font-weight: 400;
          line-height: 1.2575;
          color: rgba(0, 0, 0, 0.6499999762);
          font-family: ?????, 'Source Sans Pro';
          white-space: nowrap;
        }
        .bg-iB6 {
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 5.8rem;
          height: 2.4rem;
        }
      }
      .logo-ro6 {
        align-items: center;
        width: 10.1527rem;
        height: 4rem;
        position: absolute;
        left: 9.9rem;
        top: 0.8rem;
        display: flex;

        .exclusion-1-nRr {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.4883rem;
          width: 3.9063rem;
          height: 4rem;
          object-fit: contain;
        }
        .path-5-XPS {
          height: 1.6441rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.0441rem;
          width: 5.7581rem;
        }
      }
      .item--Tnt {
        position: absolute;
        top: 0;
        display: flex;
        background-position: center;
        background-image: url('REPLACE_IMAGE:I331:106;2:643');
        padding-top: 0.8rem;
        height: 5.6rem;
        left: 0;
        flex-direction: column;
        background-size: cover;
        background-repeat: no-repeat;
        box-sizing: border-box;
        width: 136.6rem;
        align-items: center;

        .auto-group-ixjv-AxC {
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 9.8rem 0rem 9.9rem;
          width: calc(100% - 19.7rem);
          height: 4.8rem;
          display: flex;

          .logo-gfe {
            margin: 0rem 49.647rem 0.8rem 0rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .exclusion-1-Rt8 {
              height: 4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.4883rem;
              width: 3.9063rem;
            }
            .path-5-mBJ {
              margin-top: 0.0441rem;
              width: 5.7581rem;
              height: 1.6441rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .item--6zG {
            line-height: 1.2575;
            font-family: ?????, 'Source Sans Pro';
            box-sizing: border-box;
            font-size: 1.4rem;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.8500000238);
            white-space: nowrap;
            flex-shrink: 0;
            margin: 1.1rem 3.173rem 0rem 0rem;
            padding-left: 1.5274rem;
            height: 3.7rem;
          }
          .about-C1i {
            margin: 1.1rem 3.607rem 0rem 0rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .about-wEC {
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 1.9rem 2.093rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.2575;
              color: rgba(0, 0, 0, 0.8500000238);
              font-family: ?????, 'Source Sans Pro';
            }
            .line-Fkg {
              width: 0.9rem;
              height: 0;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .contacts-QtU {
            font-family: ?????, 'Source Sans Pro';
            margin: 1rem 3.091rem 0rem 0rem;
            box-sizing: border-box;
            padding-left: 1.3094rem;
            height: 3.8rem;
            font-size: 1.4rem;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.8500000238);
            line-height: 1.2575;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .bottom-7Xz {
            position: relative;
            flex-shrink: 0;
            margin: 0.8rem 2.4rem 1.6rem 0rem;
            width: 5.8rem;
            height: calc(100% - 2.4rem);

            .log-in-Ecc {
              top: 0.2rem;
              line-height: 1.2575;
              color: rgba(0, 0, 0, 0.6499999762);
              width: 3.6rem;
              height: 1.8rem;
              position: absolute;
              left: 0.9907rem;
              font-size: 1.4rem;
              font-weight: 400;
              font-family: ?????, 'Source Sans Pro';
              white-space: nowrap;
            }
            .bg-LvY {
              vertical-align: top;
              width: 5.8rem;
              height: 2.4rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: contain;
            }
          }
          .component-21-1-692 {
            margin: 0.8rem 2.4rem 1.6rem 0rem;
            width: 12.2rem;
            height: calc(100% - 2.4rem);
            position: relative;
            flex-shrink: 0;

            .open-an-account-RBJ {
              line-height: 1.2575;
              white-space: nowrap;
              height: 1.8rem;
              position: absolute;
              top: 0.2rem;
              font-size: 1.4rem;
              font-family: ?????, 'Source Sans Pro';
              width: 9.9rem;
              left: 0.8203rem;
              font-weight: 400;
              color: rgba(0, 0, 0, 0.6499999762);
            }
            .bg-jSt {
              width: 12.2rem;
              height: 2.4rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .lang-t4t {
            margin: 0.8rem 0rem 1.6rem 0rem;
            width: 5.5rem;
            height: calc(100% - 2.4rem);
            position: relative;
            flex-shrink: 0;

            .en-QZ2 {
              line-height: 1.2575;
              font-family: ?????, 'Source Sans Pro';
              font-weight: 400;
              height: 1.8rem;
              position: absolute;
              left: 1.0223rem;
              top: 0.2rem;
              font-size: 1.4rem;
              color: rgba(0, 0, 0, 0.6499999762);
              white-space: nowrap;
              width: 1.7rem;
            }
            .bg-v1a {
              height: 2.4rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: contain;
              vertical-align: top;
              width: 5.5rem;
            }
            .item--fjr {
              color: rgba(0, 0, 0, 0.25);
              width: 0.9rem;
              height: 1.7rem;
              font-size: 1.4rem;
              line-height: 1.1725;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              position: absolute;
              left: 3.8rem;
              top: 0.3rem;
              font-weight: 400;
            }
          }
        }
        .path-3177-a68 {
          width: 136.6rem;
          height: 0;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .path-3177-VTz {
      width: 136.6rem;
      height: 0;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
