
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 136.6rem;
}.login-GAQ {
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 104rem;
  position: relative;

  .rectangle-57-bCg {
    top: 0;
    background-color: #f4f7f9;
    width: 136.6rem;
    height: 104rem;
    position: absolute;
    left: 0;
  }
  .all-rights-reserved-lorem-technologies-inc-WaY {
    color: rgba(0, 0, 0, 0.6499999762);
    font-family: ?????, 'Source Sans Pro';
    white-space: nowrap;
    width: 30.4rem;
    height: 2.2rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.5714285714;
    position: absolute;
    left: 53.05rem;
    top: 75.7rem;
    font-size: 1.4rem;
  }
  .form-A9J {
    flex-direction: column;
    background-color: #ffffff;
    box-sizing: border-box;
    width: 49.6rem;
    height: 64.1rem;
    position: absolute;
    left: 44.9rem;
    top: 8rem;
    border-radius: 1rem;
    padding: 4.382rem 4rem 6.153rem 2.6rem;
    align-items: center;
    display: flex;
    box-shadow: 0 0.4rem 5.6rem rgba(0, 0, 0, 0.0399999991), 0 1.2rem 1.6rem rgba(0, 0, 0, 0.0399999991);

    .logo-SMi {
      width: calc(100% - 32.8473rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 15.747rem 2.629rem 17.1rem;

      .exclusion-1-Mja {
        margin-right: 0.4884rem;
        width: 3.9063rem;
        height: 4.3816rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .path-5-tzQ {
        margin-top: 0.0483rem;
        width: 5.7581rem;
        height: 1.8009rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .register-RjS {
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 8.5rem 5.054rem 7.5rem;
      width: calc(100% - 16rem);
      align-items: flex-end;
      display: flex;

      .welcome-to-bytrend-99e {
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 2.3247rem;
        font-size: 2.9rem;
        font-weight: 700;
        line-height: 1.2575;
        color: rgba(0, 0, 0, 0.8500000238);
        font-family: Segoe UI, 'Source Sans Pro';
      }
      .auto-group-5dbi-FTa {
        height: 2.629rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 0.8rem 0rem 2.9rem;
        width: calc(100% - 3.7rem);

        .lets-sign-up-first-N2Q {
          flex-shrink: 0;
          margin: 0rem 2rem 0.029rem 0rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.625;
          color: #444150;
          font-family: ?????, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-tbt8-GNg {
          flex-shrink: 0;
          width: 4.4rem;
          height: 100%;
          position: relative;

          .rectangle-58-DYp {
            top: 2.5194rem;
            background-color: #01bab3;
            width: 4.3rem;
            height: 0.1095rem;
            position: absolute;
            left: 0.1rem;
          }
          .register-wji {
            left: 0;
            line-height: 1.625;
            white-space: nowrap;
            height: 2.6rem;
            position: absolute;
            top: 0;
            font-size: 1.6rem;
            font-weight: 600;
            color: #01bab3;
            font-family: Segoe UI, 'Source Sans Pro';
            width: 4.2rem;
          }
        }
      }
    }
    .auto-group-xnha-4ZS {
      margin: 0rem 0.046rem 1.301rem 0rem;
      box-sizing: border-box;
      padding-left: 1.5rem;
      width: calc(100% - 0.0465rem);
      height: 9.2993rem;
      flex-shrink: 0;

      .input-BPA {
        width: 100%;
        height: 7.5461rem;
        display: flex;
        flex-direction: column;

        .email-w7S {
          font-weight: 600;
          color: rgba(0, 0, 0, 0.8500000238);
          white-space: nowrap;
          display: flex;
          align-items: baseline;
          flex-shrink: 0;
          margin-bottom: 0.6185rem;
          font-size: 1.6rem;
          line-height: 1.5;
          font-family: Segoe UI, 'Source Sans Pro';

          .email-w7S-sub-0 {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
            color: #444150;
            font-family: Segoe UI, 'Source Sans Pro';
          }
          .email-w7S-sub-1 {
            font-family: Segoe UI, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
            color: #01bab3;
          }
        }
        .auto-group-h3nc-n1a {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.943rem 1.594rem 1.184rem 1.594rem;
          font-size: 1.6rem;
          line-height: 1.5;
          color: #444150;
          background-color: #ffffff;
          border-radius: 0.6rem;
          width: 100%;
          font-weight: 400;
          font-family: ?????, 'Source Sans Pro';
          white-space: nowrap;
          border: solid 0.1rem #d9d9d9;
        }
      }
    }
    .input-pyr {
      width: 41.4535rem;
      flex-shrink: 0;
      margin: 0rem 0rem 8.723rem 1.454rem;

      .auto-group-xqst-y64 {
        align-items: center;
        margin: 0rem 32.087rem 0.906rem 0rem;
        width: calc(100% - 32.0866rem);
        display: flex;

        .password-uEc {
          white-space: nowrap;
          display: flex;
          align-items: baseline;
          margin-right: 0.5718rem;
          font-size: 1.6rem;
          font-weight: 600;
          color: #444150;
          font-family: Segoe UI, 'Source Sans Pro';
          flex-shrink: 0;
          line-height: 1.5;

          .password-uEc-sub-0 {
          }
          .password-uEc-sub-1 {
            font-weight: 600;
            line-height: 1.5;
            color: #01bab3;
            font-family: Segoe UI, 'Source Sans Pro';
            font-size: 1.6rem;
          }
        }
        .settings-setting-26-24px-tMS {
          flex-shrink: 0;
          margin-top: 0.2865rem;
          width: 1.3951rem;
          height: 1.4466rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .auto-group-aafn-Qag {
        align-items: center;
        border: solid 0.1rem #d9d9d9;
        background-color: #ffffff;
        border-radius: 0.4rem;
        box-sizing: border-box;
        padding: 1.494rem 1.395rem 1.066rem 1.6rem;
        width: 100%;
        display: flex;

        .item--LUL {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #444150;
          font-family: ?????, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 28.3655rem;
        }
        .interface-interface-171-24px-ejv {
          height: 1.4466rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.4275rem;
          opacity: 0.3;
          width: 1.993rem;
        }
      }
    }
    .btn-LMr {
      margin-left: 1.4rem;
      width: calc(100% - 1.4rem);
      display: flex;
      background-color: #01bab3;
      border-radius: 0.4rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.315rem 15.2rem 1.643rem 15.3rem;
      align-items: center;

      .login-SQt {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 2rem;
        text-align: center;
        font-size: 1.8rem;
        font-family: Segoe UI, 'Source Sans Pro';
        font-weight: 600;
        line-height: 1.2575;
        color: #ffffff;
      }
      .arrows-arrow-right-1-24px-ZEc {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.329rem 0rem 0rem 0rem;
        width: 2rem;
        height: 1.3145rem;
      }
    }
  }
  .item--Nxk {
    width: 136.6rem;
    position: absolute;
    left: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    height: 5.6rem;
    top: 0;
    background-size: cover;
    background-image: url('REPLACE_IMAGE:I335:153;2:643');

    .auto-group-pbv4-6Nx {
      width: 100%;
      height: 5.6rem;
      position: relative;
      flex-shrink: 0;

      .lang-2nQ {
        left: 121.3rem;
        top: 1.6rem;
        width: 5.5rem;
        height: 2.4rem;
        position: absolute;

        .en-mEC {
          left: 1.0223rem;
          color: rgba(0, 0, 0, 0.6499999762);
          font-family: ?????, 'Source Sans Pro';
          white-space: nowrap;
          width: 1.7rem;
          position: absolute;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.2575;
          height: 1.8rem;
          top: 0.2rem;
        }
        .bg-4j6 {
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 5.5rem;
          height: 2.4rem;
          position: absolute;
        }
        .item--cVi {
          color: rgba(0, 0, 0, 0.25);
          font-family: Roboto, 'Source Sans Pro';
          height: 1.7rem;
          font-size: 1.4rem;
          font-weight: 400;
          top: 0.3rem;
          line-height: 1.1725;
          white-space: nowrap;
          width: 0.9rem;
          position: absolute;
          left: 3.8rem;
        }
      }
      .item--JdS {
        top: 1.9rem;
        line-height: 1.2575;
        color: rgba(0, 0, 0, 0.8500000238);
        font-family: ?????, 'Source Sans Pro';
        box-sizing: border-box;
        height: 3.7rem;
        left: 69.7rem;
        font-size: 1.4rem;
        font-weight: 400;
        white-space: nowrap;
        padding-left: 1.5274rem;
        width: 6.4274rem;
        position: absolute;
      }
      .contacts-yUg {
        box-sizing: border-box;
        top: 1.8rem;
        font-family: ?????, 'Source Sans Pro';
        left: 88.9rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2575;
        padding-left: 1.3094rem;
        width: 6.5094rem;
        height: 3.8rem;
        position: absolute;
        color: rgba(0, 0, 0, 0.8500000238);
        white-space: nowrap;
      }
      .about-Fwz {
        top: 1.9rem;
        width: 5.9935rem;
        height: 3.7rem;
        position: absolute;
        left: 79.3rem;

        .about-zua {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.2575;
          color: rgba(0, 0, 0, 0.8500000238);
          font-family: ?????, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 1.9rem 2.093rem;
        }
        .line-8F6 {
          width: 0.9rem;
          height: 0;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .component-21-1-H7z {
        width: 12.2rem;
        height: 2.4rem;
        position: absolute;
        left: 106.7rem;
        top: 1.6rem;

        .open-an-account-D1e {
          width: 9.9rem;
          left: 0.8203rem;
          top: 0.2rem;
          line-height: 1.2575;
          font-family: ?????, 'Source Sans Pro';
          white-space: nowrap;
          height: 1.8rem;
          position: absolute;
          font-size: 1.4rem;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.6499999762);
        }
        .bg-KaU {
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 12.2rem;
          height: 2.4rem;
        }
      }
      .bottom-GEp {
        left: 98.5rem;
        top: 1.6rem;
        width: 5.8rem;
        height: 2.4rem;
        position: absolute;

        .log-in-p1S {
          height: 1.8rem;
          position: absolute;
          left: 0.9907rem;
          font-size: 1.4rem;
          color: rgba(0, 0, 0, 0.6499999762);
          width: 3.6rem;
          top: 0.2rem;
          font-weight: 400;
          line-height: 1.2575;
          font-family: ?????, 'Source Sans Pro';
          white-space: nowrap;
        }
        .bg-i6p {
          object-fit: contain;
          vertical-align: top;
          width: 5.8rem;
          height: 2.4rem;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
      .logo-rTv {
        left: 9.9rem;
        top: 0.8rem;
        display: flex;
        align-items: center;
        width: 10.1527rem;
        height: 4rem;
        position: absolute;

        .exclusion-1-BWC {
          width: 3.9063rem;
          height: 4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.4884rem;
        }
        .path-5-im2 {
          flex-shrink: 0;
          margin-top: 0.0441rem;
          width: 5.7581rem;
          height: 1.6441rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .item--4K6 {
        box-sizing: border-box;
        padding-top: 0.8rem;
        height: 5.6rem;
        top: 0;
        background-repeat: no-repeat;
        width: 136.6rem;
        background-size: cover;
        background-position: center;
        background-image: url('REPLACE_IMAGE:I335:154;2:643');
        left: 0;
        position: absolute;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-y46g-mjJ {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 9.8rem 0rem 9.9rem;
          width: calc(100% - 19.7rem);
          height: 4.8rem;

          .logo-sGY {
            margin: 0rem 49.647rem 0.8rem 0rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .exclusion-1-ovt {
              margin-right: 0.4884rem;
              width: 3.9063rem;
              height: 4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .path-5-wGQ {
              margin-top: 0.0441rem;
              width: 5.7581rem;
              height: 1.6441rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .item--4M2 {
            line-height: 1.2575;
            font-family: ?????, 'Source Sans Pro';
            white-space: nowrap;
            box-sizing: border-box;
            padding-left: 1.5274rem;
            height: 3.7rem;
            font-weight: 400;
            margin: 1.1rem 3.173rem 0rem 0rem;
            font-size: 1.4rem;
            color: rgba(0, 0, 0, 0.8500000238);
            flex-shrink: 0;
          }
          .about-Y1J {
            margin: 1.1rem 3.607rem 0rem 0rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .about-HDn {
              line-height: 1.2575;
              color: rgba(0, 0, 0, 0.8500000238);
              font-family: ?????, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 1.9rem 2.093rem;
              font-size: 1.4rem;
              font-weight: 400;
            }
            .line-Pnc {
              width: 0.9rem;
              height: 0;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .contacts-9Fz {
            white-space: nowrap;
            margin: 1rem 3.091rem 0rem 0rem;
            box-sizing: border-box;
            padding-left: 1.3094rem;
            font-weight: 400;
            line-height: 1.2575;
            color: rgba(0, 0, 0, 0.8500000238);
            font-family: ?????, 'Source Sans Pro';
            flex-shrink: 0;
            height: 3.8rem;
            font-size: 1.4rem;
          }
          .bottom-EoE {
            margin: 0.8rem 2.4rem 1.6rem 0rem;
            width: 5.8rem;
            height: calc(100% - 2.4rem);
            position: relative;
            flex-shrink: 0;

            .log-in-ZqW {
              color: rgba(0, 0, 0, 0.6499999762);
              font-family: ?????, 'Source Sans Pro';
              height: 1.8rem;
              left: 0.9907rem;
              font-size: 1.4rem;
              line-height: 1.2575;
              white-space: nowrap;
              width: 3.6rem;
              position: absolute;
              top: 0.2rem;
              font-weight: 400;
            }
            .bg-UxU {
              height: 2.4rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: contain;
              vertical-align: top;
              width: 5.8rem;
            }
          }
          .component-21-1-2UC {
            position: relative;
            flex-shrink: 0;
            margin: 0.8rem 2.4rem 1.6rem 0rem;
            width: 12.2rem;
            height: calc(100% - 2.4rem);

            .open-an-account-NgU {
              font-weight: 400;
              line-height: 1.2575;
              width: 9.9rem;
              position: absolute;
              left: 0.8203rem;
              top: 0.2rem;
              white-space: nowrap;
              height: 1.8rem;
              font-size: 1.4rem;
              color: rgba(0, 0, 0, 0.6499999762);
              font-family: ?????, 'Source Sans Pro';
            }
            .bg-Rek {
              position: absolute;
              left: 0;
              top: 0;
              object-fit: contain;
              vertical-align: top;
              width: 12.2rem;
              height: 2.4rem;
            }
          }
          .lang-A6Y {
            height: calc(100% - 2.4rem);
            position: relative;
            flex-shrink: 0;
            margin: 0.8rem 0rem 1.6rem 0rem;
            width: 5.5rem;

            .en-h6U {
              width: 1.7rem;
              left: 1.0223rem;
              font-weight: 400;
              color: rgba(0, 0, 0, 0.6499999762);
              line-height: 1.2575;
              font-family: ?????, 'Source Sans Pro';
              white-space: nowrap;
              height: 1.8rem;
              position: absolute;
              top: 0.2rem;
              font-size: 1.4rem;
            }
            .bg-Qma {
              position: absolute;
              left: 0;
              top: 0;
              object-fit: contain;
              vertical-align: top;
              width: 5.5rem;
              height: 2.4rem;
            }
            .item--NCc {
              color: rgba(0, 0, 0, 0.25);
              width: 0.9rem;
              height: 1.7rem;
              font-weight: 400;
              font-size: 1.4rem;
              line-height: 1.1725;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              position: absolute;
              left: 3.8rem;
              top: 0.3rem;
            }
          }
        }
        .path-3177-GYt {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 136.6rem;
          height: 0;
        }
      }
    }
    .path-3177-Q9J {
      width: 136.6rem;
      height: 0;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
