
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 136.6rem;
}.second-step-1BS {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-r98y-qgG {
    margin-bottom: 0.076rem;
    width: 100%;
    height: 5.824rem;
    flex-shrink: 0;

    .item--DqE {
      background-size: cover;
      background-position: center;
      background-image: url('REPLACE_IMAGE:I331:134;2:643');
      padding: 0.832rem 0rem 0rem 0rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      height: 100%;
      background-repeat: no-repeat;

      .auto-group-deje-1WC {
        margin: 0rem 9.8rem 0rem 9.9rem;
        width: calc(100% - 19.7rem);
        height: 4.992rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .logo-s2c {
          margin: 0rem 49.647rem 0.832rem 0rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .exclusion-1-Pme {
            margin-right: 0.4884rem;
            width: 3.9063rem;
            height: 4.16rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .path-5-7he {
            margin-top: 0.0458rem;
            width: 5.7581rem;
            height: 1.7098rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .item--Sjv {
          padding-left: 1.5274rem;
          line-height: 1.2575;
          font-family: ?????, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          color: rgba(0, 0, 0, 0.8500000238);
          margin: 1.144rem 3.173rem 0rem 0rem;
          box-sizing: border-box;
          height: 3.848rem;
          font-size: 1.4rem;
          font-weight: 400;
        }
        .about-qXA {
          margin: 1.144rem 3.607rem 0rem 0rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .about-NX6 {
            margin: 0rem 0rem 2.048rem 2.093rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2575;
            color: rgba(0, 0, 0, 0.8500000238);
            font-family: ?????, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .line-c44 {
            width: 0.9rem;
            height: 0;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .contacts-MXS {
          margin: 1.04rem 3.091rem 0rem 0rem;
          box-sizing: border-box;
          height: 3.952rem;
          line-height: 1.2575;
          white-space: nowrap;
          flex-shrink: 0;
          padding-left: 1.3094rem;
          font-size: 1.4rem;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.8500000238);
          font-family: ?????, 'Source Sans Pro';
        }
        .bottom-EbE {
          margin: 0.832rem 2.4rem 1.664rem 0rem;
          width: 5.8rem;
          height: calc(100% - 2.496rem);
          position: relative;
          flex-shrink: 0;

          .log-in-wkY {
            font-size: 1.4rem;
            line-height: 1.2575;
            white-space: nowrap;
            top: 0.208rem;
            height: 1.8rem;
            position: absolute;
            left: 0.9907rem;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.6499999762);
            font-family: ?????, 'Source Sans Pro';
            width: 3.6rem;
          }
          .bg-Rfi {
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 5.8rem;
            height: 2.496rem;
            position: absolute;
            left: 0;
          }
        }
        .component-21-1-Zmv {
          margin: 0.832rem 2.4rem 1.664rem 0rem;
          width: 12.2rem;
          height: calc(100% - 2.496rem);
          position: relative;
          flex-shrink: 0;

          .open-an-account-UP6 {
            white-space: nowrap;
            width: 9.9rem;
            color: rgba(0, 0, 0, 0.6499999762);
            left: 0.8203rem;
            top: 0.208rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2575;
            font-family: ?????, 'Source Sans Pro';
            height: 1.8rem;
            position: absolute;
          }
          .bg-BYQ {
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 12.2rem;
            height: 2.496rem;
            position: absolute;
            left: 0;
          }
        }
        .lang-vkt {
          height: calc(100% - 2.496rem);
          position: relative;
          flex-shrink: 0;
          margin: 0.832rem 0rem 1.664rem 0rem;
          width: 5.5rem;

          .en-46Q {
            font-weight: 400;
            line-height: 1.2575;
            color: rgba(0, 0, 0, 0.6499999762);
            white-space: nowrap;
            height: 1.8rem;
            position: absolute;
            top: 0.208rem;
            font-size: 1.4rem;
            font-family: ?????, 'Source Sans Pro';
            width: 1.7rem;
            left: 1.0223rem;
          }
          .bg-AfE {
            left: 0;
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 5.5rem;
            height: 2.496rem;
            position: absolute;
          }
          .item--86G {
            position: absolute;
            top: 0.312rem;
            font-size: 1.4rem;
            color: rgba(0, 0, 0, 0.25);
            width: 0.9rem;
            height: 1.7rem;
            left: 3.8rem;
            font-weight: 400;
            line-height: 1.1725;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .path-3177-R5N {
        height: 0;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 136.6rem;
      }
    }
  }
  .auto-group-apeu-Y9z {
    width: 208.7rem;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0 40rem;

    .form-5Qp {
      box-sizing: border-box;
      height: 98.1rem;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      border-radius: 0.5rem;
      padding: 4.8rem 7.4rem 7.568rem 7.6rem;
      width: 56.6rem;
      align-items: center;

      .logo-Nui {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 15.847rem 2.4rem 15.6rem;
        width: calc(100% - 31.4473rem);

        .exclusion-1-VDe {
          margin-right: 0.4884rem;
          width: 3.9063rem;
          height: 4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .path-5-1xg {
          flex-shrink: 0;
          margin-top: 0.0441rem;
          width: 5.7581rem;
          height: 1.6441rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .register-kQU {
        margin: 0rem 8.5rem 3.908rem 6.1rem;
        width: calc(100% - 14.6rem);
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .welcome-to-bytrend-5he {
          flex-shrink: 0;
          margin-bottom: 1.8rem;
          font-size: 2.9rem;
          font-weight: 700;
          line-height: 1.2575;
          color: rgba(0, 0, 0, 0.8500000238);
          font-family: Segoe UI, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-k1eu-jGQ {
          margin: 0rem 0.8rem 0rem 2.9rem;
          width: calc(100% - 3.7rem);
          height: 2.6rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .lets-sign-up-first-eeG {
            font-weight: 400;
            line-height: 1.625;
            color: #444150;
            font-family: ?????, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 2rem;
            font-size: 1.6rem;
          }
          .auto-group-1nv2-aXv {
            position: relative;
            flex-shrink: 0;
            width: 4.4rem;
            height: 100%;

            .rectangle-58-LGC {
              width: 4.3rem;
              height: 0.1rem;
              position: absolute;
              left: 0.1rem;
              top: 2.3rem;
              background-color: #01bab3;
            }
            .log-in-eng {
              width: 4.2rem;
              height: 2.6rem;
              position: absolute;
              left: 0;
              top: 0;
              font-weight: 600;
              line-height: 1.625;
              font-size: 1.6rem;
              color: #01bab3;
              font-family: Segoe UI, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
      .input-Ktp {
        width: 41.4535rem;
        flex-shrink: 0;
        margin: 0rem 0.146rem 2.264rem 0rem;

        .email-3pp {
          font-weight: 600;
          line-height: 1.5;
          font-family: Segoe UI, 'Source Sans Pro';
          display: flex;
          margin-bottom: 0.6185rem;
          font-size: 1.6rem;
          color: rgba(0, 0, 0, 0.8500000238);
          white-space: nowrap;
          align-items: baseline;

          .email-3pp-sub-0 {
            line-height: 1.5;
            color: #444150;
            font-family: Segoe UI, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 600;
          }
          .email-3pp-sub-1 {
            line-height: 1.5;
            color: #01bab3;
            font-family: Segoe UI, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 600;
          }
        }
        .auto-group-tsxw-AgU {
          font-family: ?????, 'Source Sans Pro';
          white-space: nowrap;
          background-color: #ffffff;
          box-sizing: border-box;
          padding: 0.943rem 1.594rem 1.184rem 1.594rem;
          color: #444150;
          line-height: 1.5;
          border: solid 0.1rem #d9d9d9;
          border-radius: 0.6rem;
          width: 100%;
          font-size: 1.6rem;
          font-weight: 400;
        }
      }
      .input-ozL {
        flex-shrink: 0;
        margin: 0rem 0.146rem 2.264rem 0rem;
        width: 41.4535rem;

        .phone-LzG {
          font-size: 1.6rem;
          color: rgba(0, 0, 0, 0.8500000238);
          font-family: Segoe UI, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          align-items: baseline;
          margin-bottom: 0.6185rem;
          font-weight: 600;
          line-height: 1.5;

          .phone-LzG-sub-0 {
            line-height: 1.5;
            color: #444150;
            font-family: Segoe UI, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 600;
          }
          .phone-LzG-sub-1 {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
            color: #01bab3;
            font-family: Segoe UI, 'Source Sans Pro';
          }
        }
        .auto-group-n77r-436 {
          border-radius: 0.6rem;
          box-sizing: border-box;
          padding: 0rem 25.476rem 0rem 1.395rem;
          width: 100%;
          display: flex;
          align-items: center;
          border: solid 0.1rem #d9d9d9;
          background-color: #ffffff;

          .item-7-BdW {
            flex-shrink: 0;
            margin: 0.136rem 1.688rem 0rem 0rem;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
            color: #444150;
            font-family: Segoe UI, 'Source Sans Pro';
            white-space: nowrap;
          }
          .rectangle-54-i7e {
            background-color: #ffffff;
            flex-shrink: 0;
            margin-right: 1.5944rem;
            width: 0.0996rem;
            height: 4.5277rem;
            border: solid 0.1rem #d9d9d9;
            box-sizing: border-box;
          }
          .item-965-748-89-90-dkQ {
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1362rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #444150;
            font-family: ?????, 'Source Sans Pro';
          }
        }
      }
      .input-Xqn {
        margin-bottom: 1.81rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-bknl-5sJ {
          margin: 0rem 16.576rem 0.8rem 0rem;
          width: calc(100% - 16.5761rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .country-pK6 {
            margin-right: 15.2239rem;
            font-family: Segoe UI, 'Source Sans Pro';
            align-items: baseline;
            color: rgba(0, 0, 0, 0.8500000238);
            white-space: nowrap;
            display: flex;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;

            .country-pK6-sub-0 {
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.5;
              color: #444150;
              font-family: Segoe UI, 'Source Sans Pro';
            }
            .country-pK6-sub-1 {
              font-weight: 600;
              line-height: 1.5;
              color: #01bab3;
              font-family: Segoe UI, 'Source Sans Pro';
              font-size: 1.6rem;
            }
          }
          .city-w2L {
            flex-shrink: 0;
            font-size: 1.6rem;
            line-height: 1.5;
            white-space: nowrap;
            align-items: baseline;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.8500000238);
            font-family: Segoe UI, 'Source Sans Pro';
            display: flex;

            .city-w2L-sub-0 {
              font-weight: 600;
              line-height: 1.5;
              color: #444150;
              font-family: Segoe UI, 'Source Sans Pro';
              font-size: 1.6rem;
            }
            .city-w2L-sub-1 {
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.5;
              color: #01bab3;
              font-family: Segoe UI, 'Source Sans Pro';
            }
          }
        }
        .auto-group-kspr-UwN {
          width: 100%;
          height: 4.8rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .female-S7W {
            box-sizing: border-box;
            border-radius: 0.6rem;
            height: 100%;
            display: flex;
            align-items: center;
            border: solid 0.1rem #d9d9d9;
            background-color: #ffffff;
            flex-shrink: 0;
            margin-right: 1.6rem;
            padding: 1rem 1.2rem 1.2rem 1.6rem;

            .russia-A3W {
              flex-shrink: 0;
              margin: 0rem 10.3rem 0.2rem 0rem;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.5;
              color: #444150;
              font-family: Segoe UI, 'Source Sans Pro';
              white-space: nowrap;
            }
            .arrows-chevron-down-1-24px-syW {
              margin-top: 0.2rem;
              opacity: 0.5;
              width: 2.4rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .female-L6Q {
            white-space: nowrap;
            background-color: #ffffff;
            line-height: 1.5;
            color: #444150;
            font-family: ?????, 'Source Sans Pro';
            box-sizing: border-box;
            padding: 1rem 1.6rem 1.4rem 1.6rem;
            font-size: 1.6rem;
            font-weight: 400;
            border-radius: 0.6rem;
            width: 20rem;
            height: 100%;
            border: solid 0.1rem #d9d9d9;
            flex-shrink: 0;
          }
        }
      }
      .input-Zzk {
        margin: 0rem 0.146rem 2.264rem 0rem;
        width: 41.4535rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-fusw-Hvk {
          box-sizing: border-box;
          padding-right: 31.8873rem;
          width: 100%;
          height: 3.0185rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .password-qBa {
            font-size: 1.6rem;
            line-height: 1.5;
            color: #444150;
            align-items: baseline;
            flex-shrink: 0;
            margin: 0rem 0.572rem 0.618rem 0rem;
            font-weight: 600;
            font-family: Segoe UI, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;

            .password-qBa-sub-0 {
            }
            .password-qBa-sub-1 {
              color: #01bab3;
              font-family: Segoe UI, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.5;
            }
          }
          .settings-setting-26-24px-awn {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.3773rem;
            width: 1.5944rem;
            height: 1.5092rem;
          }
        }
        .auto-group-9yu4-Vor {
          align-items: center;
          background-color: #ffffff;
          border-radius: 0.4rem;
          box-sizing: border-box;
          padding: 1.344rem 1.395rem 0.784rem 1.6rem;
          display: flex;
          width: 100%;
          border: solid 0.1rem #d9d9d9;
          flex-shrink: 0;

          .item--d9N {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #444150;
            font-family: ?????, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 28.3655rem;
          }
          .interface-interface-171-24px-kUt {
            margin-bottom: 0.5595rem;
            opacity: 0.3;
            width: 1.993rem;
            height: 1.3206rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .input-2xC {
        margin: 0rem 0.146rem 8.706rem 0rem;
        width: 41.4535rem;
        flex-shrink: 0;

        .confirm-password-AYc {
          font-weight: 600;
          font-family: Segoe UI, 'Source Sans Pro';
          display: flex;
          align-items: baseline;
          margin-bottom: 0.6185rem;
          font-size: 1.6rem;
          line-height: 1.5;
          color: #444150;
          white-space: nowrap;

          .confirm-password-AYc-sub-0 {
          }
          .confirm-password-AYc-sub-1 {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
            color: #01bab3;
            font-family: Segoe UI, 'Source Sans Pro';
          }
        }
        .auto-group-yzax-Zqe {
          width: 100%;
          height: 4.5277rem;
          border: solid 0.1rem #fa3838;
          box-sizing: border-box;
          background-color: #ffffff;
          border-radius: 0.6rem;
        }
      }
      .btn-VUQ {
        display: flex;
        background-color: #01bab3;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.8rem;
        white-space: nowrap;
        width: 41.4535rem;
        font-weight: 600;
        border-radius: 0.6rem;
        margin: 0rem 0.146rem 2.314rem 0rem;
        line-height: 1.2575;
        color: #ffffff;
        justify-content: center;
        height: 5.1183rem;
        font-family: Segoe UI, 'Source Sans Pro';
        align-items: center;
      }
      .by-signing-up-you-are-agreeing-to-our-terms-conditions-and-privacy-policy-j7r {
        color: #778698;
        margin-right: 0.1296rem;
        font-size: 1.4rem;
        line-height: 1.5714285714;
        font-family: ?????, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 36.4rem;
        text-align: center;
        font-weight: 400;

        .by-signing-up-you-are-agreeing-to-our-terms-conditions-and-privacy-policy-j7r-sub-0 {
        }
        .by-signing-up-you-are-agreeing-to-our-terms-conditions-and-privacy-policy-j7r-sub-1 {
          color: #01bab3;
          font-family: ?????, 'Source Sans Pro';
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5714285714;
        }
        .by-signing-up-you-are-agreeing-to-our-terms-conditions-and-privacy-policy-j7r-sub-2 {
        }
        .by-signing-up-you-are-agreeing-to-our-terms-conditions-and-privacy-policy-j7r-sub-3 {
          color: #01bab3;
          font-family: ?????, 'Source Sans Pro';
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5714285714;
        }
        .by-signing-up-you-are-agreeing-to-our-terms-conditions-and-privacy-policy-j7r-sub-4 {
        }
      }
    }
  }
}
